In [33]:
import pandas as pd

# Cargar el archivo CSV
archivo_csv = 'ipc-historico.csv'

# Leer el archivo CSV
data = pd.read_csv(archivo_csv)

# Extraer primeras dos columnas
columnas_extraidas = data.iloc[:, :2]

# Mostrar las columnas extraídas
print(columnas_extraidas)

# Guardamos archivo en otro archivo CSV
columnas_extraidas.to_csv('ipc-historico-columnas.csv', index=False)

    indice_tiempo  nivel_general
0      1943-01-01   2.050490e-12
1      1943-02-01   2.038620e-12
2      1943-03-01   2.070780e-12
3      1943-04-01   2.084520e-12
4      1943-05-01   2.066410e-12
..            ...            ...
779    2007-12-01   2.024900e+02
780    2008-01-01   2.043700e+02
781    2008-02-01   2.053300e+02
782    2008-03-01   2.076500e+02
783    2008-04-01   2.093700e+02

[784 rows x 2 columns]

In [35]:
import pandas as pd

# Cargar el archivo CSV
archivo_csv = 'ipc-historico-columnas.csv'

# Leer el archivo CSV
df = pd.read_csv(archivo_csv)

print(df)

    indice_tiempo  nivel_general
0      1943-01-01   2.050490e-12
1      1943-02-01   2.038620e-12
2      1943-03-01   2.070780e-12
3      1943-04-01   2.084520e-12
4      1943-05-01   2.066410e-12
..            ...            ...
779    2007-12-01   2.024900e+02
780    2008-01-01   2.043700e+02
781    2008-02-01   2.053300e+02
782    2008-03-01   2.076500e+02
783    2008-04-01   2.093700e+02

[784 rows x 2 columns]

In [37]:
# Calcular la inflación intermensual
df['inflacion_intermensual'] = df['nivel_general'].pct_change() * 100

In [39]:
print(df)

    indice_tiempo  nivel_general  inflacion_intermensual
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

[784 rows x 3 columns]

In [41]:
# Calcular la inflación interanual
df['inflacion_interanual'] = (df['nivel_general'] / df['nivel_general'].shift(12) - 1) * 100

print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  inflacion_interanual
0      1943-01-01   2.050490e-12                     NaN                   NaN
1      1943-02-01   2.038620e-12               -0.578886                   NaN
2      1943-03-01   2.070780e-12                1.577538                   NaN
3      1943-04-01   2.084520e-12                0.663518                   NaN
4      1943-05-01   2.066410e-12               -0.868785                   NaN
..            ...            ...                     ...                   ...
779    2007-12-01   2.024900e+02                0.927080              8.474849
780    2008-01-01   2.043700e+02                0.928441              8.241089
781    2008-02-01   2.053300e+02                0.469736              8.422220
782    2008-03-01   2.076500e+02                1.129888              8.814128
783    2008-04-01   2.093700e+02                0.828317              8.905072

[784 rows x 4 columns]

In [43]:
# Convertir las fechas a tipo datetime
df['indice_tiempo'] = pd.to_datetime(df['indice_tiempo'])

# Extraer el año como una columna separada
df['año'] = df['indice_tiempo'].dt.year

# Calcular la inflación acumulada dentro de cada año
df['inflacion_acumulada'] = (
    df.groupby('año')['nivel_general']  # Operar solo sobre la columna nivel_general
    .apply(lambda grupo: (grupo / grupo.iloc[0] - 1) * 100)  # Cálculo de inflación acumulada
    .reset_index(level=0, drop=True)  # Ajustar el índice al final
)

print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada
0                     NaN  1943             0.000000
1                     NaN  1943            -0.578886
2                     NaN  1943             0.989520
3                     NaN  1943             1.659603
4                     NaN  1943             0.776400
..                    ...   ...                  ...
779              8.474849  2007             7.245379
780              8.241089  2008             0.000000
781              8.422220  2008             0.469736
782              8.814128  2008             1.604932
783              8.905072  2008             2.446543

[784 rows x 6 columns]

In [45]:
print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada
0                     NaN  1943             0.000000
1                     NaN  1943            -0.578886
2                     NaN  1943             0.989520
3                     NaN  1943             1.659603
4                     NaN  1943             0.776400
..                    ...   ...                  ...
779              8.474849  2007             7.245379
780              8.241089  2008             0.000000
781              8.422220  2008             0.469736
782              8.814128  2008             1.604932
783              8.905072  2008             2.446543

[784 rows x 6 columns]

In [47]:
# Calcular la inflación anualizada basada en la inflación intermensual
df['inflacion_anualizada'] = ((1 + df['inflacion_intermensual'] / 100) ** 12 - 1) * 100

print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada  inflacion_anualizada
0                     NaN  1943             0.000000                   NaN
1                     NaN  1943            -0.578886             -6.729673
2                     NaN  1943             0.989520             20.662460
3                     NaN  1943             1.659603              8.259310
4                     NaN  1943             0.776400             -9.941410
..                    ...   ...                  ...                   ...
779              8.474849  2007             7.245379             11.710112
780              8.241089  2008             0.000000             11.728193
781              8.422220  2008             0.469736              5.784770
782              8.814128  2008             1.604932             14.433805
783              8.905072  2008             2.446543             10.405373

[784 rows x 7 columns]

In [49]:
print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada  inflacion_anualizada
0                     NaN  1943             0.000000                   NaN
1                     NaN  1943            -0.578886             -6.729673
2                     NaN  1943             0.989520             20.662460
3                     NaN  1943             1.659603              8.259310
4                     NaN  1943             0.776400             -9.941410
..                    ...   ...                  ...                   ...
779              8.474849  2007             7.245379             11.710112
780              8.241089  2008             0.000000             11.728193
781              8.422220  2008             0.469736              5.784770
782              8.814128  2008             1.604932             14.433805
783              8.905072  2008             2.446543             10.405373

[784 rows x 7 columns]

In [51]:
# Calcular la inflación intertrimestral
df['inflacion_intertrimestral'] = (df['nivel_general'] / df['nivel_general'].shift(3) - 1) * 100

print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada  inflacion_anualizada  \
0                     NaN  1943             0.000000                   NaN
1                     NaN  1943            -0.578886             -6.729673
2                     NaN  1943             0.989520             20.662460
3                     NaN  1943             1.659603              8.259310
4                     NaN  1943             0.776400             -9.941410
..                    ...   ...                  ...                   ...
779              8.474849  2007             7.245379             11.710112
780              8.241089  2008             0.000000             11.728193
781              8.422220  2008             0.469736              5.784770
782              8.814128  2008             1.604932             14.433805
783              8.905072  2008             2.446543             10.405373

     inflacion_intertrimestral
0                          NaN
1                          NaN
2                          NaN
3                     1.659603
4                     1.363177
..                         ...
779                   2.485069
780                   2.734630
781                   2.342621
782                   2.548274
783                   2.446543

[784 rows x 8 columns]

In [53]:
# Calcular la inflación intercuatrimestral
df['inflacion_intercuatrimestral'] = (df['nivel_general'] / df['nivel_general'].shift(4) - 1) * 100

print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada  inflacion_anualizada  \
0                     NaN  1943             0.000000                   NaN
1                     NaN  1943            -0.578886             -6.729673
2                     NaN  1943             0.989520             20.662460
3                     NaN  1943             1.659603              8.259310
4                     NaN  1943             0.776400             -9.941410
..                    ...   ...                  ...                   ...
779              8.474849  2007             7.245379             11.710112
780              8.241089  2008             0.000000             11.728193
781              8.422220  2008             0.469736              5.784770
782              8.814128  2008             1.604932             14.433805
783              8.905072  2008             2.446543             10.405373

     inflacion_intertrimestral  inflacion_intercuatrimestral
0                          NaN                           NaN
1                          NaN                           NaN
2                          NaN                           NaN
3                     1.659603                           NaN
4                     1.363177                      0.776400
..                         ...                           ...
779                   2.485069                      3.305954
780                   2.734630                      3.436583
781                   2.342621                      3.217212
782                   2.548274                      3.498978
783                   2.446543                      3.397699

[784 rows x 9 columns]

In [55]:
# Calcular la inflación intersemestral
df['inflacion_intersemestral'] = (df['nivel_general'] / df['nivel_general'].shift(6) - 1) * 100

print(df)

    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada  inflacion_anualizada  \
0                     NaN  1943             0.000000                   NaN
1                     NaN  1943            -0.578886             -6.729673
2                     NaN  1943             0.989520             20.662460
3                     NaN  1943             1.659603              8.259310
4                     NaN  1943             0.776400             -9.941410
..                    ...   ...                  ...                   ...
779              8.474849  2007             7.245379             11.710112
780              8.241089  2008             0.000000             11.728193
781              8.422220  2008             0.469736              5.784770
782              8.814128  2008             1.604932             14.433805
783              8.905072  2008             2.446543             10.405373

     inflacion_intertrimestral  inflacion_intercuatrimestral  \
0                          NaN                           NaN
1                          NaN                           NaN
2                          NaN                           NaN
3                     1.659603                           NaN
4                     1.363177                      0.776400
..                         ...                           ...
779                   2.485069                      3.305954
780                   2.734630                      3.436583
781                   2.342621                      3.217212
782                   2.548274                      3.498978
783                   2.446543                      3.397699

     inflacion_intersemestral
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
779                  4.430119
780                  4.875045
781                  4.754859
782                  5.096670
783                  5.248077

[784 rows x 10 columns]

In [31]:
# Exportar el DataFrame actualizado a un archivo CSV
output_file = "ipc_historico_datos_inlfacion.csv"
df.to_csv(output_file, index=False)

print(f"El DataFrame actualizado se ha exportado como '{output_file}'.")

print(df)

El DataFrame actualizado se ha exportado como 'ipc_historico_datos_inlfacion.csv'.
    indice_tiempo  nivel_general  inflacion_intermensual  \
0      1943-01-01   2.050490e-12                     NaN
1      1943-02-01   2.038620e-12               -0.578886
2      1943-03-01   2.070780e-12                1.577538
3      1943-04-01   2.084520e-12                0.663518
4      1943-05-01   2.066410e-12               -0.868785
..            ...            ...                     ...
779    2007-12-01   2.024900e+02                0.927080
780    2008-01-01   2.043700e+02                0.928441
781    2008-02-01   2.053300e+02                0.469736
782    2008-03-01   2.076500e+02                1.129888
783    2008-04-01   2.093700e+02                0.828317

     inflacion_interanual   año  inflacion_acumulada  inflacion_anualizada  \
0                     NaN  1943             0.000000                   NaN
1                     NaN  1943            -0.578886             -6.729673
2                     NaN  1943             0.989520             20.662460
3                     NaN  1943             1.659603              8.259310
4                     NaN  1943             0.776400             -9.941410
..                    ...   ...                  ...                   ...
779              8.474849  2007             7.245379             11.710112
780              8.241089  2008             0.000000             11.728193
781              8.422220  2008             0.469736              5.784770
782              8.814128  2008             1.604932             14.433805
783              8.905072  2008             2.446543             10.405373

     inflacion_intertrimestral  inflacion_intercuatrimestral  \
0                          NaN                           NaN
1                          NaN                           NaN
2                          NaN                           NaN
3                     1.659603                           NaN
4                     1.363177                      0.776400
..                         ...                           ...
779                   2.485069                      3.305954
780                   2.734630                      3.436583
781                   2.342621                      3.217212
782                   2.548274                      3.498978
783                   2.446543                      3.397699

     inflacion_intersemestral
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
779                  4.430119
780                  4.875045
781                  4.754859
782                  5.096670
783                  5.248077

[784 rows x 10 columns]